version: "3.9"

services:
  postgres:
    image: bitnami/postgresql:latest
    env_file: ./postgres.env
    ports:
      - "5432:5432"
    volumes:
      -  /path/to/postgresql-persistence:/bitnami/postgresql
    restart: always

volumes:
  pgdata:
    driver: local
